.horizontalcssmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.horizontalcssmenu ul li{
position: relative;
display: inline;
float: left;
margin-left: 2px;
}

/*Top level menu link items style*/
.horizontalcssmenu ul li a{
display: block;
padding: 3px 30px 3px 3px;
border: none;
text-decoration: none;
background: #FFFFFF;
color: #FF9E2E;
font-weight: bold;
}
	
/*Sub level menu*/
.horizontalcssmenu ul li ul{
left: 0;
top: 0;
position: absolute;
display: block;
visibility: hidden;
z-index: 100;
}

/*Sub level menu list items*/
.horizontalcssmenu ul li ul li{
display: inline;
float: none;
margin: 0;
}


/* Sub level menu links style */
.horizontalcssmenu ul li ul li a{
width: 160px; /*width of sub menu levels*/
font-weight: normal;
padding: 4px 5px;
background: #FF9E2E;
color: #FFFFFF
}

.horizontalcssmenu ul li a:hover{
background: #FF9E2E;
color: #FFFFFF;
}

.horizontalcssmenu ul li ul li a:hover{
background: #FFFFFF;
color: #FF9E2E;
}

.horizontalcssmenu ul li._cssmenu_opened a{
	background: #FF9E2E;
	color: #FFFFFF;
}

.horizontalcssmenu .arrowdiv{
position: absolute;
/*right: 0;*/
background: transparent url(../../style/images/down_arrow.png) no-repeat center left;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows menu, add 1em top spacing between the two in IE*/
padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .horizontalcssmenu ul li { float: left; height: 1%; }
* html .horizontalcssmenu ul li a { height: 1%; }
/* End */